# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/SaitamaRobot/modules/blacklistusers.py 
/SaitamaRobot/modules/sql/blacklistusers_sql.py 
#pep8-ing the code doesn't change maker
/SaitamaRobot/modules/paste.py 
/SaitamaRobot/modules/speed_test.py 

